*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}

#canvas{
    background: transparent;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    
}


body{
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* z-index: 100; */
    
    /* margin: 100px 0px 100px 0px; */
}

.form-container{
    height: fit-content;
    padding: 50px 0 50px 0;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    /* background: rgba(24, 20, 20, 0.987); */
    border: 3px solid rgba(1, 112, 184, 1);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    color: rgba(199, 44, 68, 1);
    position: relative; /* Ensures form is positioned correctly */
    z-index: 100; /* Higher than -100 */
    background: white;
}



.form-input{
    margin-top: 20px;
    width: 80%;
    
}

.input-field input{
    border: none;
    border-bottom: 1px solid rgba(0, 69, 133, 1);
    outline: none;
    background: transparent;
    width: 100%;
    padding: 0 0 10px 0;
    
}



.input-field{
    margin: 10px 0px 40px 0px;
    /* display: flex;
    flex-direction: column; */
    position: relative;
}



.input-field label{
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 10px 0; */
    font-size: 16px;
    color: rgba(0, 69, 133, 1);
    pointer-events: none;
    transition: .5s;
}

.link{
    width: 100%;
    font-size: 16px;
    
    text-align: center;
}

.link a{
    color: rgba(0, 69, 133, 1);
}
 
.input-field input:focus ~ label,
.input-field input:enabled ~ label{
  top: -20px;
  left: 0;
  color: rgba(0, 69, 133, 1);
  font-size: 12px;
}

/* .form-input p{
    margin-top: 8px;
    color: rgb(198, 39, 39);

}

.input-field input{
    padding: 8px 5px 8px 10px;
} */

.submit{
    display: flex;
    justify-content: center;
}

.submit-button{
    padding: 15px 0px 15px 0px;
    width: 40%;
    border-radius: 50px;
    margin-top: 30px;
    background: rgba(199, 44, 68, 1);
    border: none;
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    transition: all 0.2s ease-in-out 0ms;
}

.submit-button:hover{
    background: rgb(207,32,62);
background: linear-gradient(90deg, rgba(207,32,62,1) 5%, rgba(80,93,160,1) 95%);
}

.submit-button:active{
    transform: scale(0.95);
}




@media (max-width: 768px) {
    .form-container{
        width: 80vw;
        height: 90vh;
    }
    .container{

        margin: 0px 0px 0px 0px;
    }

}

/* The snackbar - position it at the bottom and in the middle of the screen */
#toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: rgba(1, 112, 184, 1); /* Black background color */
    color: rgb(255, 255, 255); /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the bottom */
    /* border: rgba(1, 112, 184, 1) 1px solid; */
}
  

#toast.show {
    visibility: visible; 

    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  


  
@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

  
@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
